[submodule "player/vendor/less-prefixer"]
	path = player/vendor/less-prefixer
	url = https://github.com/minond/LESS-Prefixer.git
[submodule ".scaffold"]
	path = .scaffold
	url = https://github.com/minond/scaffold
