input[type="range"] {
    -webkit-appearance: none;
    background: rgb(98, 98, 98);
    border: 0;
    height: 2px;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 0;
    cursor: pointer;
    height: 20px;
    width: 6px;
}

.player {
    background-position: 50%;
    border-radius: 50%;
    cursor: default;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.player:hover .controls {
    bottom: 0;
}

.player .controls {
    background: rgba(15, 13, 13, .6);
    bottom: -200px;
    /* bottom: 0; */
    color: rgb(245, 245, 215);
    font-family: monospace;
    font-size: 12px;
    height: 120px;
    left: 0;
    padding: 25px 35px 0 35px;
    position: absolute;
    right: 0;
    transition: bottom .6s;
}

.player .controls table {
    color: inherit;
    font: inherit;
    width: 100%;
}

.player .controls td:nth-of-type(1),
.player .controls td:nth-of-type(3) {
    width: 70px;
}

.player .controls td:nth-of-type(1) {
    text-align: right;
}

.player .controls td:nth-of-type(3) {
    text-align: left;
}

.player .controls .buttons {
    margin-top: 10px;
    text-align: center;
}

.player .controls .buttons svg {
    cursor: pointer;
    fill: currentColor;
    height: 30px;
    width: 45px;
}
