.player {
    background-color: rgb(24, 7, 7);
    border: 1px solid rgb(195, 195, 195);
    color: rgb(245, 245, 215);
    cursor: default;
    font-family: monospace;
    font-size: 12px;
    overflow: hidden;
    position: relative;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player .artwork {
    background-position-y: 50%;
    height: 100%;
    opacity: .5;
    transition: opacity .4s, background-position .5s;
    z-index: 0;
}

.player.state-playing .artwork {
    opacity: 1;
}

.player .controls {
    background: rgba(15, 13, 13, .6);
    bottom: -30%;
    box-sizing: border-box;
    height: 30%;
    left: 0;
    padding: 5% 10px 0 10px;
    position: absolute;
    right: 0;
    transition: bottom 1s;
    z-index: 1;
}

.player.state-seeking .controls,
.player:not(.state-playing) .controls,
.player:hover .controls {
    bottom: 0;
}

.player .controls input[type='range'] {
    -webkit-appearance: none;
    background: rgb(98, 98, 98);
    border: 0;
    height: 2px;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}

.player .controls input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #EAE5B2;
    border: 0;
    height: 20px;
    width: 2px;
}

.player.state-ended .controls input[type='range']::-webkit-slider-thumb {
    height: 0;
    width: 0;
}

.player .controls table {
    color: inherit;
    width: 100%;
}

.player .controls td:nth-of-type(1),
.player .controls td:nth-of-type(3) {
    height: 18px;
    width: 70px;
}

.player .controls td:nth-of-type(1) {
    text-align: right;
}

.player .controls td:nth-of-type(3) {
    text-align: left;
}

.player .controls .buttons {
    position: relative;
    text-align: center;
    top: 45%;
    transform: translateY(-100%);
}

.player .controls .buttons svg {
    fill: currentColor;
    height: 25%;
    margin: 0 2%;
}

.player.state-playing .controls .buttons .play,
.player.state-paused .controls .buttons .pause {
    display: none;
}

.player .info {
    padding: 11px;
    position: absolute;
    text-shadow: -1px 0 rgb(24, 7, 7), 0 1px rgb(24, 7, 7), 1px 0 rgb(24, 7, 7), 0 -1px rgb(24, 7, 7);
    top: 0;
    z-index: 1;
}

.player .loader {
    display: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.player.state-seeking .loader,
.player:not(.state-canplay) .loader {
    display: initial;
}

.player .clickable {
    cursor: pointer;
}

.player .move-left {
    left: 3px;
    position: relative;
}
