.player {
    cursor: default;
    position: relative;
    font-family: monospace;
    font-size: 12px;
    color: rgb(245, 245, 215);
}

.player .artwork {
    background-position: 50%;
    height: 100%;
    opacity: .5;
    transition: opacity .4s;
    z-index: 0;
}

.player.state-playing .artwork {
    opacity: 1;
}

.player .controls {
    background: rgba(15, 13, 13, .6);
    bottom: 0;
    height: 120px;
    left: 0;
    padding: 25px 35px 0 35px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.player .controls input[type='range'] {
    -webkit-appearance: none;
    background: rgb(98, 98, 98);
    border: 0;
    cursor: pointer;
    height: 2px;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}

.player .controls input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #EAE5B2;
    border: 0;
    cursor: pointer;
    height: 20px;
    width: 2px;
}

.player.state-ended .controls input[type='range']::-webkit-slider-thumb {
    height: 0;
    width: 0;
}

.player .controls table {
    color: inherit;
    width: 100%;
}

.player .controls td:nth-of-type(1),
.player .controls td:nth-of-type(3) {
    height: 18px;
    width: 70px;
}

.player .controls td:nth-of-type(1) {
    text-align: right;
}

.player .controls td:nth-of-type(3) {
    text-align: left;
}

.player .controls .buttons {
    margin-top: 26px;
    text-align: center;
}

.player .controls .buttons svg {
    cursor: pointer;
    fill: currentColor;
    height: 25px;
    margin: 0 6px;
}

.player.state-playing .controls .buttons .play,
.player.state-paused .controls .buttons .pause {
    display: none;
}
